.presentation > .slide aside.notes {display: none;}
.presentation > .slide table th,
.presentation > .slide table td {border-bottom: 1px solid; padding: 0.2em 0.5em;}
.presentation > .slide pre > code.hljs {padding-top: 0em; font-size: 0.8em; border: 1px solid white; border-radius: 6px;}
.presentation > .slide .aqua   {color: aqua;}
.presentation > .slide .green  {color: green;}
.presentation > .slide .yellow {color: yellow;}
