body {background: #111 none 0 0 no-repeat !important; margin:0; padding:0;}

.layout > #header {display: none;}
.layout > #footer {height: 1em !important;}
.layout > #footer > #controls > #controlForm > #navLinks > a#toggle {display: none;}

.presentation > .slide {font-family: sans-serif; font-size: 1.2em !important; color: #eee !important; padding: 0 1em !important; width: calc(100vw - 2em); height: calc(100vh - 1.2em); overflow: auto;}
.presentation > .slide > h1, .presentation > .slide > h2 {position: static; margin-top: 0 !important; color: inherit !important; font-size: 1.5em;}
.presentation > .slide aside.notes {display: none;}
.presentation > .slide img {max-width: 100%;}
.presentation > .slide a {text-decoration: none; color: #13daec;}
.presentation > .slide table th,
.presentation > .slide table td {border-bottom: 1px solid; padding: 0.2em 0.5em;}
.presentation > .slide pre > code.hljs {padding-top: 0em; font-size: 0.8em; border: 1px solid white; border-radius: 6px;}
.presentation > .slide .aqua   {color: aqua;}
.presentation > .slide .green  {color: green;}
.presentation > .slide .yellow {color: yellow;}
